@import url("https://fonts.googleapis.com/css?family=Varela+Round");

* {
    max-width: 1300px;
    margin: auto;
    margin: 0;
    padding: 0;
}

.reg {
    float: right;
    margin-top: 30px;
    margin-right: 15px;
    font-size: 20px;
    color:#bfc0c1;
    
}

body {
    max-width: 980px;
    margin: auto;
    background-color: #161616;
}

h1 {
    font-family: 'Varela Round', sans-serif;
    color: #bfc0c1;
    margin-bottom: 15px;
    margin-left: 150px;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    color: #bfc0c1;
    padding-bottom: 10px;
    margin-left: 150px;
}

.head {
    background-color: black;
    text-align: center;
}



nav li a {
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

ul {
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #e84040;
    font-size: 30px;
    list-style: none;
    justify-content: space-around;
}

main {
    align-items: stretch;
    flex-direction: row;
    color: #bfc0c1;
    background-color: #161616;
    text-align: center;

}



h3 {
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
    font-size: 55px;
    text-align: center;
}

@media (min-width:750px) {
    .imgarticles {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }
    .videoarticles {
        border-left-style: solid;
        border-right-style: solid;
        font-family: 'Varela Round', sans-serif;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .videoarticle3 {
        display: flex;
        border-left-style: solid;
        border-right-style: solid;
        margin-top: 50px;
        text-align: center;
    }
    .video3 {
        display: flex;
        justify-content:space-around;
    }
}


.imgarticle1 {
    display: flex;
    flex-wrap: wrap;
}

.imgarticle2 {
    display: flex;
    flex-wrap: wrap;

}


.textarticles {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.textarticle1 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 40px;
    margin-left: 60px;
}

.textarticle2 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 40px;
    margin-left: 50px;
}

h4 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 25px;
    border-top-style: solid;
    font-size: 55px;
}

.imgarticles {
    border-left-style: solid;
    border-right-style: solid;
}



.textarticle3 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 20px;
    margin-left: 13px;
}

.textarticle4 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 40px;
    margin-left: 40px;
}

.video3 {
    text-align: center;
    
}

.textarticle5 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

h5 {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 25px;
    border-top-style: solid;
    font-size: 55px;
}

.updates {
    border-left-style: solid;
    border-right-style: solid;
}

.updates a {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    font-size: 27px;
    list-style: none;
    color: #bfc0c1;
    background-color: #161616;

}

footer {
    margin-top: 25px;
    background-color: #161616;
    color: #bfc0c1;
    text-align: center;
    border-top-style: solid;

}
