@import url("https://fonts.googleapis.com/css?family=Varela+Round");



header {
    padding-top: 5px;
    opacity: 0.85;
    border-radius: 40px;
}

#clock {
    background-color: white;
    opacity: 0.5;
}

body {
    max-width: 980px;
    margin: auto;
    background-image: url(https://us.123rf.com/450wm/yamonstro/yamonstro1604/yamonstro160400012/56835673-vector-dark-geometric-halftone-seamless-pattern-retro-pointillism-vector-seamless-background-vector-.jpg?ver=6);
}

.back12 {
    z-index: -1;
}

.background-opacity {
    background: rgb(46, 46, 48, 0.6);
    border-radius: 40px;

}



.form {
    text-decoration: none;
    float: right;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 25px;
    color: #e84040;
    font-weight: bold;

}


.sign-up {
    text-decoration: none;
    color: #e84040;
}

.sign-in {
    text-decoration: none;
    color: #e84040;
    margin-left: 15px;
}

h1 {
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    color: #bfc0c1;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    margin-left: 215px;
}
h2 {
    font-family: 'Varela Round', sans-serif;
    color: #bfc0c1;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    margin-left: 215px;
}

.head {
    border-radius: 20px;
    border: 3px solid grey;
    background-color: black;
    text-align: center;
}


ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
    border: 3px solid grey;
    border-radius: 40px;
    margin-top: 15px;
    

}

li {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-right: 40px;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-wrap: wrap;

}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
    border-radius: 40px;
}

main {
    border-left-style: solid;
    border-right-style: solid;
    align-items: stretch;
    color: #bfc0c1;
    text-align: center;
    justify-content: space-around;
    border-radius: 40px;

}



h3 {
    color: #eae2ff;
    font-family: 'Varela Round', sans-serif;
    font-size: 55px;
    text-align: center;
}

@media (min-width:750px) {
    .imgarticles {
        display: flex;
        justify-content: space-around;
        text-align: center;

    }
    .imgarticle1 {
        flex-wrap: wrap;
    }
    .imgarticle2 {
        flex-wrap: wrap;
    }
    .videoarticles {
        font-family: 'Varela Round', sans-serif;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }
    .videoarticle3 {
        display: flex;
        margin-top: 50px;
        text-align: center;
    }
    .video-3 {
        display: flex;
        justify-content: space-around;
    }

}

.hotline-miami {
    box-shadow: 0 0 10px;
    border-radius: 40px;
    border: 3px solid grey;
    margin-bottom: 5px;
}

.hotline-miami:hover {
    box-shadow: 0 0 20px;
}

.artifact {
    box-shadow: 0 0 10px;
    border-radius: 40px;
    border: 3px solid grey;
    margin-bottom: 5px;
}

.artifact:hover {
   box-shadow: 0 0 20px; 
}

.artifact-article {
    margin-right: 40px;
    text-align: center;
}

.imgarticle1 {
    color: #eae2ff;
    flex-wrap: wrap;
}

.imgarticle2 {
    color: #eae2ff;
    margin: auto;
    flex-wrap: wrap;

}


.textarticles {
    color: #eae2ff;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.textarticle1 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 13px;
    margin-left: 13px;
}

.textarticle2 {
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 14px;
    margin-left: 13px;
}

h4 {
    color: #eae2ff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 25px;
    border-top-style: solid;
    font-size: 55px;
}





.textarticle3 {
    color: #eae2ff;
    background: rgb(46, 46, 48, 0);
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 20px;
    margin-left: 13px;
    border-radius: 40px;
}

.textarticle4 {
    color: #eae2ff;
    background: rgb(46, 46, 48, 0);
    display: flex;
    font-family: 'Varela Round', sans-serif;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 40px;
}

.video-3 {
    text-align: center;

}

.video1 {
    box-shadow: 0 0 10px;
}

.video2 {
    box-shadow: 0 0 10px;
}

.video3 {
    box-shadow: 0 0 10px;
}

.textarticle5 {
    color: #eae2ff;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 40px;
}

h5 {
    color: #eae2ff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top: 25px;
    border-top-style: solid;
    font-size: 55px;
}

.updates {
    color: #eae2ff;
    border-radius: 40px;
}

.updates a {
    color: #eae2ff;
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    font-size: 27px;
    list-style: none;
    border-radius: 40px;

}

.updates a:hover {
   box-shadow: 0 0 10px; 
}

h6 {
    color: #eae2ff;
    text-align: center;
    font-size: 40px;
}

footer {
    background: rgb(46, 46, 48, 0.5);
    margin-top: 25px;
    color: #eae2ff;
    text-align: center;
    border-top-style: solid;
    border-radius: 40px;

}

#txt {
    color: white;
    float: left;
    margin-top: 30px;
    margin-left: 15px;

}
