  * {
        max-width: 880px;
        margin: auto;
    }

    body {
        background-image: url(https://us.123rf.com/450wm/yamonstro/yamonstro1604/yamonstro160400012/56835673-vector-dark-geometric-halftone-seamless-pattern-retro-pointillism-vector-seamless-background-vector-.jpg?ver=6);
        background-color: #161616;
    }
    
    main {
        padding-top:15px;
    }


    h2 {
        font-size: 30px;

    }

    h1 {
        font-size: 45px;
        margin-top: 40px;
        margin-bottom: 50px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 30px;
    }

    .form {
        border:10px solid #bfc0c1;
        border-radius: 40px;
        color: #bfc0c1;
        text-align: center;
        margin-top: 40px;
    }

    .username {
        background-color: #161616;
        width: 350px;
        height: 30px;
        color: #bfc0c1;
    }

    .email {
        background-color: #161616;
        width: 350px;
        height: 30px;
        color: #bfc0c1;
    }

    .password {
        background-color: #161616;
        width: 350px;
        height: 30px;
        color: #bfc0c1;
    }


    .repeat-password {
        background-color: #161616;
        width: 350px;
        height: 30px;
        color: #bfc0c1;
    }

    .submit {
        font-weight: bold;
        background-color: #161616;
        margin-top: 40px;
        margin-bottom:40px;
        width: 100px;
        height: 40px;
        color: #bfc0c1;
    }